<a href="https://colab.research.google.com/github/nilanusrat/bpp-01-08-DataAnalysisAndVisualize/blob/main/BPP_01_08_DATA_ANALYZE_AND_visualize_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
!wget https://raw.githubusercontent.com/Abdullahfoysal/pp11-Project-AnalyzeAndVisualize/refs/heads/main/student_data.csv

--2024-12-21 04:39:12--  https://raw.githubusercontent.com/Abdullahfoysal/pp11-Project-AnalyzeAndVisualize/refs/heads/main/student_data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 133023 (130K) [text/plain]
Saving to: ‘student_data.csv.1’

student_data.csv.1  100%[===================>] 129.91K  --.-KB/s    in 0.03s

2024-12-21 04:39:12 (4.94 MB/s) - ‘student_data.csv.1’ saved [133023/133023]

In [ ]:

df = pd.read_csv("student_data.csv")
df.head()
df.sample(5)

,id,first_name,last_name,email,gender,ip_address,cgpa,passing_year,department,attendance,home_district,abroad_study,student_id,graduation_date,study_abroad_country,study_abroad_city,hsc_gpa,ssc_gpa
998,999,Malvina,Tuhy,mtuhyrq@bloglines.com,Non-binary,49.201.10.99,NaN,2017.0,Medicine,61.29,New York,True,999,2008,Pakistan,Nārang,1,4
940,941,Freddi,Luxford,fluxfordq4@java.com,Female,192.173.224.158,3.14,2023.0,Computer Science,66.70,Miami,True,941,2016,Indonesia,Boto,1,5
765,766,Carita,Gouley,cgouleyl9@columbia.edu,Female,135.180.210.246,1.87,2025.0,Computer Science,88.29,Houston,True,766,2005,Lebanon,Jezzîne,5,5
379,380,Tiff,Bayns,tbaynsaj@behance.net,Female,191.214.140.7,NaN,2004.0,Business,33.34,Chicago,False,380,2013,Sweden,Mariefred,2,3
476,477,Corrie,Hedaux,chedauxd8@chicagotribune.com,Male,72.183.226.63,3.51,2005.0,Arts,39.56,Miami,False,477,2012,Nigeria,Bornu Yassu,2,2

In [ ]:
#Print the student list where student_id >500
filtered_df = df[df['student_id'] > 500]
print(filtered_df)

       id  first_name  last_name                     email      gender  \
500   501        Amos     Yedall     ayedalldw@pcworld.com        Male
501   502  Sutherland    Gullyes    sgullyesdx@answers.com        Male
502   503     Paolina   Langmaid  plangmaiddy@google.co.uk      Female
503   504        Ciro  Blackmuir    cblackmuirdz@github.io        Male
504   505      Archer      Eeles        aeelese0@youku.com        Male
..    ...         ...        ...                       ...         ...
995   996   Catharina    Bradtke    cbradtkern@pcworld.com      Female
996   997   Anastasia      Lowde         alowdero@blog.com      Female
997   998       Tandi   Whitlock   twhitlockrp@skyrock.com      Female
998   999     Malvina       Tuhy     mtuhyrq@bloglines.com  Non-binary
999  1000      Kissee   Okeshott       kokeshottrr@msu.edu      Female

          ip_address  cgpa  passing_year        department  attendance  \
500    233.233.42.92  0.67        2024.0          Medicine       10.05
501      2.207.44.22  3.57        2011.0          Medicine       10.26
502    155.89.188.41  1.11        2017.0          Business       55.73
503   142.140.14.115  3.83        2011.0  Computer Science        2.09
504  129.255.190.209  3.62        2001.0              Arts       56.61
..               ...   ...           ...               ...         ...
995    52.162.96.226  0.49        2015.0          Medicine         NaN
996  199.250.191.241  0.37        2009.0  Computer Science        8.18
997    156.191.196.6  1.04        2023.0          Medicine       92.60
998     49.201.10.99   NaN        2017.0          Medicine       61.29
999     169.43.29.34  2.22        2018.0              Arts       70.99

    home_district  abroad_study  student_id  graduation_date  \
500         Miami          True         501             2005
501   Los Angeles         False         502             2006
502      New York         False         503             2010
503         Miami          True         504             2008
504       Houston         False         505             2014
..            ...           ...         ...              ...
995       Chicago         False         996             2019
996       Chicago          True         997             2011
997      New York         False         998             2011
998      New York          True         999             2008
999         Miami         False        1000             2004

      study_abroad_country study_abroad_city  hsc_gpa  ssc_gpa
500                 Greece           Mouzáki        1        3
501          United States  Colorado Springs        5        3
502              Indonesia            Emplak        4        3
503                 Sweden            Hofors        5        1
504                 Brazil          Beberibe        1        2
..                     ...               ...      ...      ...
995  Palestinian Territory    Dayr Abū Ḑa‘īf        5        4
996              Venezuela         El Corozo        3        1
997                 Sweden            Motala        3        3
998               Pakistan            Nārang        1        4
999                 Uganda             Amuru        3        3

[500 rows x 18 columns]

In [14]:
# display all stufents who have a passing year after 2019
import pandas as pd
filtered_df = df[df['passing_year'] > 2019]
print(filtered_df)

      id first_name   last_name                          email  gender  \
1      2         Si     Skottle      sskottle1@squarespace.com    Male
3      4     Shadow      Scarff           sscarff3@walmart.com    Male
4      5      Karim  Domenicone      kdomenicone4@sakura.ne.jp    Male
5      6    Ottilie       Adlem              oadlem5@house.gov  Female
10    11         Vi     Drinnan            vdrinnana@fotki.com  Female
..   ...        ...         ...                            ...     ...
986  987     Shelba     Barthod            sbarthodre@admin.ch  Female
989  990     Rodger    Baudassi  rbaudassirh@timesonline.co.uk    Male
990  991   Frederik     Baltzar      fbaltzarri@shareasale.com    Male
992  993     Howard     Lankham           hlankhamrk@prlog.org    Male
997  998      Tandi    Whitlock        twhitlockrp@skyrock.com  Female

          ip_address  cgpa  passing_year        department  attendance  \
1         230.8.97.7   NaN        2023.0              Arts       76.00
3       43.41.240.67  3.27        2024.0              Arts       90.09
4        29.33.96.28  0.20        2025.0              Arts       91.36
5     243.180.33.126  3.57        2023.0  Computer Science       21.54
10   109.105.101.205   NaN        2021.0  Computer Science       96.01
..               ...   ...           ...               ...         ...
986     17.66.221.48  1.02        2025.0          Medicine        0.40
989     32.10.124.90  3.45        2025.0              Arts       27.59
990   28.171.200.194  1.51        2021.0  Computer Science       40.02
992  125.213.179.210  0.14        2023.0  Computer Science       45.78
997    156.191.196.6  1.04        2023.0          Medicine       92.60

    home_district  abroad_study  student_id  graduation_date  \
1           Miami          True           2             2014
3        New York          True           4             2012
4           Miami         False           5             2008
5         Houston          True           6             2005
10        Houston          True          11             2013
..            ...           ...         ...              ...
986      New York          True         987             2000
989         Miami          True         990             2017
990   Los Angeles          True         991             2020
992   Los Angeles          True         993             2002
997      New York         False         998             2011

    study_abroad_country study_abroad_city  hsc_gpa  ssc_gpa
1                  China         Changqiao        1        3
3                 Brazil        Chã Grande        5        2
4                 Sweden          Enköping        5        5
5                 Poland         Szczaniec        4        4
10                 Yemen             Dhahi        2        2
..                   ...               ...      ...      ...
986                China          Haizigou        2        3
989           Micronesia           Pisaras        2        5
990          South Korea           Goseong        1        4
992              Ireland           Athlone        2        4
997               Sweden            Motala        3        3

[209 rows x 18 columns]

In [20]:
# Calculate the maximum attendance rate
attendance_data = [61.29, 66.70, 882.9, 33.34, 39.56]
df = pd.DataFrame(attendance_data, columns=['attendance_rate'])
max_attendance_rate = df['attendance_rate'].max()

print(f"The maximum attendance rate is: {max_attendance_rate}%")

The maximum attendance rate is: 882.9%